.form-container {
    display: flex;
    justify-content: center;
    height: 100vh; /* Ensures the form is centered vertically */
  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
  }
  
  .custom-form label {
    margin-bottom: 5px;
  }
  
  .custom-form input {
   
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  